@import '../../styles/mixins';

.volume {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    padding: 20px 10px;
    background-color: gray;
    

    @include onDesktop {
      width: 100%;
    }

  &__image {
    object-fit: cover;
    object-position: center;
    width: 50%;
    margin: 0 auto;
  }

  &__categories {
    color: gray;
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 500;
  }

  &__author {
    color: gray;
  }
}
